<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:url"           content="http://lenovoseriey.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Lenovo Serie y Gamer" />
    <meta property="og:description"   content="Participa contestando las preguntas correctamente y tendrás la oportunidad en entrar a un campeonato de Call of Dutty por una LENOVO Y70." />
    <meta property="og:image"         content="http://lenovoseriey.com/media/img/compu.png" />
	<title>Lenovo Serie y Gamer</title>
	<link rel="stylesheet" href="<?php echo base_url(); ?>media/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>media/css/styles.css">

</head>
<body>
	<div class="container">
		<div class="row">
		<br><br>
			<div class="col-sm-12 col-lg-6 col-lg-offset-3">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h5>LISTA DE PARTICIPANTES</h5>	<a href="<?php echo base_url(); ?>cusuarios/salir" style="float:right;margin-top:-20px"><i class="glyphicon glyphicon-user"></i> Cerrar Sesión</a>
					</div>
					<div class="panel-body">
						<table class="table table-bordered" style="color:#000 !important">
							<thead> 
								<tr>
									<th>Puesto.</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th colspan="2">Puntos</th>
								</tr>
							</thead>
							<tbody>
							<?php $i=1*($pagina+1);foreach($results as $data): ?> 
								<tr>
									<td align="center" width="10%"><?php echo $i; ?></td>
									<td><?php echo $data->individuo_nombres; ?></td>
									<td><?php echo $data->individuo_apellidos; ?></td>
									<td><?php echo ($data->partida_aciertos*10); ?></td>
									<td align="center" width="30%">
										<button class="btn btn-default ver" data-id="<?php echo $data->individuo_id; ?>"><i class="glyphicon glyphicon-search"></i> Ver</button>
										<button class="btn btn-danger eliminar" data-id="<?php echo $data->individuo_id; ?>"><i class="glyphicon glyphicon-remove"></i> Eliminar</button>
									</td>
								</tr>
								<?php $i++; ?>
							<?php endforeach; ?>
							</tbody>
						</table>
						<center><?php echo $links; ?></center>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="ventanaModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" align="center" style="color:#000">Datos de Participante</h4>
	      </div>
	      <div class="modal-body">
	      	<form class="form-horizontal" style="color:#000">
				<fieldset>
				<div class="form-group">
				  <label class="col-md-4 control-label" for="nombres">Nombres</label>  
				  <div class="col-md-4">
				  <input id="nombres" name="nombres" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="">Apellidos</label>  
				  <div class="col-md-4">
				  <input id="apellidos" name="" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="">Dni</label>  
				  <div class="col-md-4">
				  <input id="dni" name="" type="text" placeholder="" class="form-control input-md" disabled="">
				    
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" >Puntos Acumulados</label>  
				  <div class="col-md-4">
				  <input id="puntos" name="puntos" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" >Tiempo Acumulado</label>  
				  <div class="col-md-2">
				  <input id="tiempo" name="tiempo" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				  <label class="col-md-2 control-label" >Segundos</label> 
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="">Email</label>  
				  <div class="col-md-4">
				  <input id="email" name="" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for="movil">Movil</label>  
				  <div class="col-md-4">
				  <input id="movil" name="movil" type="text" placeholder="" class="form-control input-md" disabled="">
				  </div>
				</div>

				<div class="form-group">
				  <label class="col-md-4 control-label" for=""></label>
				  <div class="col-md-4">
				    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
				  </div>
				</div>

				</fieldset>
			</form>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="<?php echo base_url(); ?>media/js/bootstrap.min.js"></script>
	<script src="<?php echo base_url(); ?>media/js/init.js"></script>
	<script src="<?php echo base_url(); ?>media/js/participantes.js"></script>

</body>
</html>