<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:url"           content="http://lenovoseriey.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Lenovo Serie y Gamer" />
    <meta property="og:description"   content="Participa contestando las preguntas correctamente y tendrás la oportunidad en entrar a un campeonato de Call of Dutty por una LENOVO Y70." />
    <meta property="og:image"         content="http://lenovoseriey.com/media/img/compu.png" />
	<title>Lenovo Serie y Gamer</title>
	<link rel="stylesheet" href="media/css/bootstrap.min.css">
	<link rel="stylesheet" href="media/css/styles.css">
	<style type="text/css" media="screen">.modal-body{padding: 0 !important;}</style>

</head>
<body>

	<div class="container">
		<center>
			<img src="media/img/logo.png" class="img-responsive" style="margin-top:2em;margin-bottom:2em;">
		</center>
		<div class="row">
			<div class="col-sm-12 col-lg-6 col-lg-offset-3">
				<p align="center" class="txt-panel">LLENA TUS DATOS Y DINOS A QUÉ TE DEDICAS</p>
			</div>
		</div>
		<div class="row">
		<br>
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<form accept-charset="utf-8" id="registroIndividuo">
							<div class="row">
							<div class="col-sm-6 form-nombre">
								<div class="input-group">
								  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
								  <input type="text" class="form-control" placeholder="NOMBRE" aria-describedby="basic-addon1" id="nombres" name="individuo_nombres" required>
								</div>
							</div>
							<div class="col-sm-6 form-apellido">
								  <input type="text" class="form-control" placeholder="APELLIDO" aria-describedby="basic-addon1" id="apellidos" name="individuo_apellidos" required>
							</div>
							</div>
							<br>
							<div class="input-group">
							  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							  <input type="email" class="form-control" placeholder="MAIL" aria-describedby="basic-addon1" name="individuo_email" required id="email">
							</div>
							<br>
							<div class="input-group">
							  <span class="input-group-addon dni"><b>DNI</b></span>
							  <input type="text" class="form-control" placeholder="DNI" aria-describedby="basic-addon1" name="individuo_dni" required id="dni">
							</div>
							<br>
							<div class="input-group">
							  <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
							  <input type="text" class="form-control" placeholder="TELÉFONO" aria-describedby="basic-addon1" name="individuo_movil">
							</div>
							<br>
							<center class="txt-panel">
								<input type="radio" name="aceptar" class="radio-acepto" value="1" required id="condiciones"> Estoy de Acuerdo con los <a class="text-red" id="condiciones_a" href="#">Términos y condiciones</a>
							</center><br>
							<h5 id="mssge" style="display:none" align="center"></h5>
							<center>
								<a href="#!" class="submit-form" data-tipo="1"><img src="media/img/estudio.png" class="btn"></a>
								<a href="#!" class="submit-form" data-tipo="2"><img src="media/img/trabajo.png" class="btn"></a>
							</center>

						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content " style="background:#000;font-family: 'Roboto Thin';">
		    <div class="modal-body">
	       		<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;position:absolute;z-index:100;right:0;margin:20px"><i class="glyphicon glyphicon-remove"></i></button>
		      	
		    </div>
	    </div>
	  </div>
	</div>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="media/js/bootstrap.min.js"></script>
    <script src="media/js/percircle.min.js"></script>
    <script src="media/js/application.js"></script>
    <script src="media/js/init.js"></script>
    <script src="media/js/registro.js"></script>
    <script type="text/javascript">$(function(){$("#Modal").modal({show:false})$("#condiciones_a").on("click",function(event){ event.preventDefault(); $("#Modal").modal("show");})});</script>
</body>
</html>