<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:url"           content="http://lenovoseriey.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Lenovo Serie y Gamer" />
    <meta property="og:description"   content="Participa contestando las preguntas correctamente y tendrás la oportunidad en entrar a un campeonato de Call of Dutty por una LENOVO Y70." />
    <meta property="og:image"         content="http://lenovoseriey.com/media/img/compu.png" />
	<title>Lenovo Serie y Gamer</title>
	<link rel="stylesheet" href="../media/css/bootstrap.min.css">
	<link rel="stylesheet" href="../media/css/styles.css">
	<style type="text/css" media="screen">
		.fila_lista{
			background:url(../media/img/row.png) no-repeat;
			background-size:100%;
			height:50px;
			padding-left:5%;
			margin-left: 5%;
		}
		.titulo_terminos{
			font-size:16px;
			background:url(../media/img/titulo_terminos.png) no-repeat center;
			background-size:70% 90%;

		}
		@media (max-width: 1110px) {
			.fila_lista h4{
				font-size:14px;
			}
			.titulo_terminos h4{
				font-size:16px;
			}
		}
		@media (max-width: 950px) {
			.fila_lista h4{
				font-size:14px;
			}
		}
		@media (max-width: 768px) {
			.fila_lista h4{
				font-size:20px;
				padding-top:2%;
				padding-left:5%;
			}
			.titulo_terminos h4{
				font-size:14px;
			}
		}
		@media (max-width: 440px) {
			.fila_lista h4{
				font-size:14px;
				padding-top:2%;
				padding-left:5%;
			}
			.titulo_terminos h4{
				font-size:14px;
			}
		}
		@media (max-width: 326px) {
			.fila_lista h4{
				font-size:12px;
				padding-top:2%;
				padding-left:5%;
			}
		}
		@media (max-width: 300px) {
			.fila_lista h4{
				font-size:11px;
				padding-top:2%;
				padding-left:2%;
			}
		}
	</style>
</head>	
<body>

	<div class="container">
		<div class="row">
		<br><br>
			<div class="col-sm-12 titulo_terminos">
				
				<H4 align="center">TÉRMINOS Y CONDICIONES DE LA PROMOCION "LENOVO SERIE Y GAMER"</H4>
				<H4 align="center">RD N° 5917-2015-ONAGI-DGAE-DA</H4>
			</div>
		</div><br>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="fila_lista col-sm-5">
					<h4 >1. DURACIÓN DE LA PROMOCIÓN</h4>
				</div>
				<div class="col-sm-11 col-sm-offset-1">
				<ul>
					<li type="none"><p>Fecha de inicio: 28 de Noviembre de 2015.</p></li>
					<li type="none"><p>Fecha de finalización: 12 de Diciembre de 2015.</p></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="fila_lista  col-sm-5">
				<h4>2. DE LA MECÁNICA</h4>
				</div>
				<div class="col-sm-11 col-sm-offset-1">
					<ul>
						<li type="square">
							<p align="justify"> La mecánica de esta promoción comercial a nivel Lima Metropolitana consistirá en que toda persona natural que tenga catorce (14) años de edad o más, peruano o extranjero que cuente con Documento Obligatorio de Identidad podrá participar registrándose entre el 28 de noviembre de 2015 al 9 de diciembre de 2015 debiendo ser titular de una cuenta personal en la red social Facebook, ingresar a la página en Facebook con nombre Lenovo Perú en <a href="https://www.facebook.com/LenovoPe">https://www.facebook.com/LenovoPe </a>(el “Sitio”) perteneciente a LENOVO (ASIA PACIFIC) LIMITED SUCURSAL PERU, en adelante el “Organizador” o “Lenovo” darle me gusta a la página, luego ingresar a la pestaña denominada Lenovo Serie Y Gamer, donde deberá registrarse llenando sus datos personales para después participar en una prueba de conocimientos (la “Prueba”).</p>
						</li>
						<li type="square"><p align="justify">Durante la Prueba, cada Participante cuenta con un lapso de 10 segundos para responder cada una de las 12 preguntas a formularse, acumulando en total un puntaje respectivo por las respuestas correctas que será mostrado al finalizar la Prueba. Solo calificarán los sesenta y cuatro (64) participantes con los mejores puntajes para participar en un Campeonato en computadora del juego llamado Call Of Duty Black Ops III, en adelante el “Campeonato”, para lo cual el Organizador los contactará para su asistencia al Campeonato. En el caso de haber varios participantes con el mismo puntaje, calificarán los que hayan participado primero.</p></li>
						<li type="square"><p align="justify">Se hace factible sólo una inscripción y participación en la promoción por persona.</p></li>	
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="fila_lista col-sm-5">
				<h4>3. ELECCIÓN DEL GANADOR</h4>
				</div>
				<div class="col-sm-11 col-sm-offset-1">
					<ul>
					<li type="square"><p align="justify">En el Campeonato los sesenta y cuatro (64) participantes calificados irán jugando las fases de eliminatorias, semifinales y final  hasta que quede un (1) ganador. Dicho Campeonato se realizará el día sábado 12 de diciembre de 2015, desde las 10:00 am hasta 5:00 pm en el 4to Piso del Centro Comercial Compuplaza en Av. Garcilaso de la Vega (antes Wilson) N° 1261, Lima, en presencia de un representante de la ONAGI de corresponder.</p></li>
					<li type="square"><p align="justify">Queda establecido que el Organizador se reserva el derecho, a su exclusiva discreción, de descalificar y/o invalidar cualquier participación en la cual no haya completado los requisitos establecidos, haya consignado nombres ficticios y/o sobrenombres, datos errados, y/o incompletos, se crea que se ha tratado de manipular de forma ilícita o perjudicar la administración de la promoción, la seguridad o el correcto desarrollo de esta Actividad Promocional o no se guarde el respeto, disciplina y honestidad durante el desarrollo del Campeonato y/ promoción.</p></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="fila_lista col-sm-5">
				<h4>4. DURACIÓN DE LA PROMOCIÓN</h4>
				</div>
				<div class="col-sm-11 col-sm-offset-1">
				<ul>
				<li type="square"><p align="justify">El ganador del Campeonato se hará acreedor de un (01) computador portátil marca Lenovo Y70-70, el cual será entregado previa coordinación, el día Jueves 17 de Diciembre de 2015 en la oficinas de Lenovo a partir de las 4:00 pm, ubicadas en Calle Dionisio Derteano N° 144, Piso 16, San Isidro, Lima.</p></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			<div class="fila_lista col-sm-5">
			<h4>5. DE LOS PREMIOS</h4>
			</div>
			<div class="col-sm-11 col-sm-offset-1">
			<ul>
				<li type="square"><p align="justify">El ganador del Campeonato se hará acreedor de un (01) computador portátil marca Lenovo Y70-70, el cual será entregado previa coordinación, el día Jueves 17 de Diciembre de 2015 en la oficinas de Lenovo a partir de las 4:00 pm, ubicadas en Calle Dionisio Derteano N° 144, Piso 16, San Isidro, Lima.</p></li>
			</ul>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			<div class="fila_lista col-sm-5">
				<h4>NOTA:</h4>	
			</div>
			<div class="col-sm-11 col-sm-offset-1">
				<ul>
				<li type="square"><p align="justify">Todos los participantes necesariamente deberán portar su Documento Obligatorio de Identidad (sea menor o mayor de edad) en original para la participación del Campeonato, elección del ganador y entrega del premio.</p></li>
				<li type="square"><p align="justify">En caso el ganador sea menor de edad, para la entrega del premio, este deberá ir en compañía de su padre, tutor o apoderado mayor de edad.</p></li>
				<li type="square"><p align="justify">El participante a darle aceptar a los presentes términos y condiciones cede a título gratuito a favor de Lenovo todos sus derechos de imagen y voz para ser parte de la publicidad de la presente promoción.</p></li>
				</ul>
			</div>
			</div>
		</div>
	</div>

</body>
</html>